.about-me-background{
    background-color: #2A3139; 
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
    position: relative; 
}

.about-me-slanted-div{
    width: 65vw; /* Half the viewport width */
    height: 100vh; /* 80% of the viewport height */
    background-color: #f5f900; /* Bright yellow for visibility */
    position: absolute;
    top: 0%; /* 12% from the top */
    right: -13.5%; /* 5% from the right */
    clip-path: polygon(15% 0, 80% 0, 80% 100%, 0% 100%); /* Adjusted for a left-side slant */
}

.portrait-image{
   position: absolute;
   left : 8%;
   width : 45vw;
   height : 100vh;
}

.About-me-heading{
    font-family: 'Roboto', sans-serif;
    color : #f5f900;
    font-weight : bold;
    font-size : 50px;
    position: absolute;
    top : 10%;
    margin-left: 115px;
}

.phone-number{
  font-family: 'Roboto', sans-serif;
  color : #f5f900;
  font-size : 20px;
  position: absolute;
  top : 77%;
  left : 7%;
}

.email-id{
  font-family: 'Roboto', sans-serif;
  color : #f5f900;
  font-size : 20px;
  position: absolute;
  top : 82%;
  left : 7%;
}

.contact-information{
  font-family: 'Roboto', sans-serif;
  color : #f5f900;
  font-weight : bold;
  font-size : 20px;
  position: absolute;
  top : 72%;
  left : 7%;
}

.about-me-text{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #f5f900;
    font-size: 20px;
    top: 23%;
    left : 7%;
    width : 40%;
    line-height: 1.8;
}

.home-button-about-me{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left : 40%;
    top : 0.5%
  }
  
  .home-icon-about-me{
  content: url('../assets/home_new.png');
  width: 30px;
  height: 30px;
  transition: all 0.3s ease; 
  border-radius: 50%;
  padding-bottom :8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-right: 8px;
  }
  
  .home-button-about-me:hover .home-icon-about-me {
    content: url('../assets/home_new_dark.png');
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    background-color: #f5f900;
    padding-bottom :8px;
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 8px;
  }

  .skills-button-about-me{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius : 50%;
    position: absolute;
    top : 1%;
    left : 44.5%;
  }
  
  .skills-icon-about-me {
    content: url('../assets/skills_official.png');
    width: 20px;
    height: 35px;
    transition: all 0.3s ease;
    padding-left : 5px;
    padding-right: 5px;
  }
  
  
  .skills-button-about-me:hover .skills-icon-about-me{
    content: url('../assets/skillsHover_official.png');
    width: 20px;
    height: 35px;
    border-radius: 50%;
  }
  
  .skills-button-about-me:hover{
    background-color: #f5f900;
    outline: none;
    border-radius: 50%;
  }


  .projects-button-about-me {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius : 50%;
    left : 48.5%;
    top : 1%;

  }
  
  .projects-icon-about-me {
    content: url('../assets/projects_aboutme.png');
    width: 28px;
    height: 28px;
    transition: all 0.3s ease; 
    padding-bottom : 10px;
    border-radius: 50%;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
  }
  
  
  .projects-button-about-me:hover .projects-icon-about-me {
    content: url('../assets/projects_about_me_hover.png');
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  .projects-button-about-me:hover {
    background-color: #f5f900;
    border-radius: 50%;
  }
 


  /* .download-resume-button{
    transition: all 0.3s ease; 
    padding-bottom : 10px;
    border-radius: 50%;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 3px;
    background-color: #f5f900;
    border: none;
    cursor : pointer;
    position: absolute;
    top : 89%;
   left : 37%
  } */

  /* .download-icon{
    content: url('../assets/download-icon.png');
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 9px;
    padding-bottom: 5px;
    padding-top: 10px;
    transition: all 0.3s ease;
  } */

.resume-download-text{
  /* position: absolute; */
  /* left : 10%; */
  padding-bottom: 20px;
  color: #f5f900;
  position: absolute;
  top : 90%;
  left: 7%;
  font-size: 20px;
}

/* .download-resume-button:hover .download-icon{
  content: url('../assets/download-icon-hover.png');
  transition: all 0.3s ease; 
  padding-bottom : 10px;
  border-radius: 50%;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 3px;
  background-color: black;
  border: none;
  cursor : pointer;
  position: absolute;
} */
