.official-projects-background{
    background-color: #2A3139;
    width: 100%;
    height: 100vh;
}

.off-title-text{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #f5f900;
    font-size: 40px;
    top: 4%;
    left : 3%;
}


.card-container {
  display: flex;
  gap: 90px;
  justify-content: center;
  margin: 20px;
  flex-direction: column;
  position: absolute;
  top: 25%;
}

.card {
  width: 500px;
  height: 90px;
  background-color: #f5f900;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 70px;
  flex-direction: row;
  transition : transform 0.3s ease;
}

.card:hover{
  transform: translate(25px);
}

.project-details-card{
  width: 700px;
  height: 690px;
  background-color: #f5f900;
  border-radius: 10px;
  margin-left: 190px;
  /* position: absolute; */
  margin-top : 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

  flex-direction: row;
  transition : transform 0.3s ease;
  /* left : 20%; */
}

.projects-image{
  width : 800px;
  position: absolute;
  left : 30%;
  top : 20%;
}

.slanted-div-projects{
  width: 75vw; 
  height: 100vh;
  background-color: #f5f900; 
  position: absolute;
  top: 0%;
  right: -17.5%;
  clip-path: polygon(15% 0, 80% 0, 80% 100%, 0% 100%); 
}

.button-1{
  transform: translateX(200px);
position: fixed;
background-color: transparent;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.3s ease;
border-radius : 40%; 
border : none;
}

.button-2{
  transform: translateX(200px);
position: fixed;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius : 50%;
}

.button-3{
  transform: translateX(200px);
position: fixed;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius : 50%;
}

.arrow-1{
  content: url('../assets/arrowBlack.png');
  width: 30px;
  height: 20px;
  transition: all 0.3s ease; 
  padding: 12px;
  border-radius: 50%;
}

.arrow-2{
  content: url('../assets/arrowBlack.png');
  width: 30px;
  height: 20px;
  transition: all 0.3s ease; 
  padding: 12px;
  border-radius: 50%;
}

.arrow-3{
  content: url('../assets/arrowBlack.png');
  width: 30px;
  height: 20px;
  transition: all 0.3s ease; 
  border-radius: 50%;
  padding: 12px;
}

.button-1:hover .arrow-1 {
  content: url('../assets/arrowYellow.png');
  width: 30px;
  height: 20px;
  border-radius: 50%;
  background-color: #2A3139;
}

.button-2:hover .arrow-2 {
  content: url('../assets/arrowYellow.png');
  width: 30px;
  height: 20px;
  border-radius: 50%;
  background-color: #2A3139;
}

.button-3:hover .arrow-3 {
  content: url('../assets/arrowYellow.png');
  width: 30px;
  height: 20px;
  border-radius: 50%;
  background-color: #2A3139;
}

.optius-project-title{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  left : 25%;
  top : 20%;
  font-size: 25px;
  font-weight: bold;
}

.optius-project-description{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  left : 25%;
  top : 27%;
  font-size: 18px;
  font-weight: bold;
  max-width: 40%;
}

.optius-project-technologies{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  left : 23.5%;
  top : 33%;
  font-size: 18px;
  font-weight: bold;
  max-width: 40%;
}

.technologies-used{
  position: absolute;
  left : 8%;
  white-space: nowrap;
  font-size: 25px;
}

.technologies-list{
margin-top: 40px;
}

.optius-order-removal-tool-text{
position: absolute;
font-family: 'Roboto', sans-serif;
left : 25%;
top : 24%;
font-size: 18px;
font-weight: bold;
max-width: 40%;
line-height: 25px;
}